<h1>New Console Form</h1>

<%= form_with model: @console do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :manufacturer %>
  <%= form.text_field :manufacturer %>
  
  <%= form.submit 'Create' %>
<% end %>
